# Base de datos
DATABASE_URL=postgresql+asyncpg://user:password@db:5432/erp_muebles

# Redis
REDIS_URL=redis://:password@redis:6379/0

# JWT
SECRET_KEY=tu_secret_key_aqui
ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=480

# Walmart Chile
WALMART_CLIENT_ID=tu_client_id
WALMART_CLIENT_SECRET=tu_client_secret

# Paris Marketplace
PARIS_API_KEY=tu_api_key
PARIS_SELLER_ID=tu_seller_id
PARIS_BASE_URL=https://api-developers.ecomm.cencosud.com

# Falabella
FALABELLA_USER_ID=tu_user_id
FALABELLA_API_KEY=tu_api_key
FALABELLA_BASE_URL=https://sellercenter-api.falabella.com